// Place all the styles related to the imagesets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.grid-img {
	margin-bottom: 20px;
}
.alert-info {
	text-align: center;
	color: white;
	background: #b2bfcc;
	border-color: white;
	border-radius: 0px;
	border-width: 1.5px;
	font-face: "Arial";
}