<!DOCTYPE html>
<html>
<head>
  <title>Instaportfolio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          
        </div>
      </div>
    </nav>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
